# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\goit-bot-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
